
<div id='target'></div>

<div id='previous-dots'>

  <br>

  <% @dots.each do |dot| %>

    <canvas class="dot" id="<%=dot.id%>" width="30" height="30" style='position:absolute; left:<%=dot.x.to_s%>px; top:<%=dot.y.to_s%>px; background-color:<%=dot.color%>;'></canvas>

  <% end %>

</div>

<div id='directions'>Click anywhere to place the dot.</div>
